head
    link(rel="stylesheet", type="text/css" href="stylesheets/style.css")
form(action="/signup",method='post')
    main.continer
        h1#signup Sign up
        h1 #{msg}
        section#main
            section#fname
                input(type="text", name="fname", placeholder="First name")
            section#lname
                input(type="text", name="lname", placeholder="Last name")
        section#email
            input(type="email", name="email", placeholder="E-mail")
        section#pass
            input(type="password", name="password", placeholder="Password", minlength='8')
        section.centeralign
            p
                | At least 8 characters
                input(type="number",name='phone', placeholder='Phone number')
        section.centeralign
            input(type="checkbox",name='subscribe')
            | Subscribe to our newsletter
        section.clearfix
            button.signupbtn(type='submit') SIGN UP